<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Andrew Yacoub", "https://andrew-ccoder.github.io/Andrew_Yacoub.github.io/", class: "text-white" %></small>
  </div>
</footer> 