<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">BLoggers</h1>
    <p class="lead">This is a simple website to write all your posts and share it with your friends</p>
    
 <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>